${% load static %}

    <!-- navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
              <img src="{% static 'img/logo.png' %}" alt="techmeta ecommerce logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav m-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'category' %}">SHOP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#lookbook">LOOKBOOK</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#clothing">CLOTHING</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item mx-4">
                  <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
                </li>
                <li class="nav-item mx-4">
                  <a class="nav-link" href="{% url 'profile' %}"><i class="bi bi-gear"></i>Profile</a>
                </li>
              {% else %}
                <li class="nav-item mx-4">
                  <a class="nav-link" href="{% url 'loginuser' %}">LOGIN | REGISTER</a>
                </li>
              {% endif %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'myCart' %}">My Cart .m<i class="bi bi-cart"></i></a>
              </li>
            </ul>
            <form class="d-flex" action="{% url 'search' %}" method="GET">
              <input class="form-control me-2" type="text" name="keyword" placeholder="Search products ..">
              <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
            </form>
          </div>
        </div>
    </nav>

