{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    
<!-- categories -->

<!-- featured  -->
<section id="featured" class="py-4 my-3">
    <div class="container">
        <!-- intro -->
        <div class="intro mb-5">
            <h2 class="text-center">
                <span>&#8668;</span> Category(s) <span>&#8669;</span>
            </h2>
        </div>
        {% if category %}
          {% for cat in category %}
          <h1> {{cat.title}}</h1>

          <div class="row">
              {% for item in cat.product_set.all %}
                <div class="col-12 col-md-3">
                    <a href="#">
                        <div class="product">
                            <img src="{{ item.image.url }}" alt="" class="img-fluid">
                            <h5>{{item.title}}</h5>
                            <h6>
                              {% if item.discount_price %}
                              &#8358; {{item.discount_price | intcomma }} <del>&#8358; {{item.price | intcomma }}</del>
                              {% else %}
                              &#8358; {{item.price | intcomma }}
                              {% endif %}
                            </h6>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                            </div>
                            <div class="d-grid">
                              <a href="{% url 'addtocart' item.id %}" class="btn btn-dark">
                            Add to Cart</a></div>
                        </div>
                    </a>
                </div>
              {% endfor %}
          </div>
          {% endfor %}
        {% else %}
          <p class="text-center lead bg-danger p-3 m-3">
            No category
          </p>
        {% endif %}
    </div>
</section>


{% endblock content %}