{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<section id="product" class="py-5 my-5">
    <div class="container">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'myCart' %}">Shopping Cart</a></li>
        </ol>
        </nav>
        <hr>
        <!-- shopping cart-->
        <h3 class="display-3">Shopping Cart</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Remove</th>
                <th>Image</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
                
                {% if cart %}
                    {% for item in cart.cartproduct_set.all %}
                    <tr>
                        <td>
                          <a href="{% url 'manageCart' item.id %}?action=rmv"><i class="bi bi-trash"></i></a>
                        </td>
                        <td>
                          <img src="{{ item.product.image.url }}" width="100" alt="" class="img-fluid">
                        </td>
                        <td>{{item.product.title}}</td>                    
                        <td>&#8358; {{item.rate | intcomma}}</td>
                        <td><a href="{% url 'manageCart' item.id %}?action=inc"><i class="bi bi-plus-circle-fill"></i></a>
                            <span class="border border-dark p-2 m-2">
                                {{item.quantity}}
                            </span>
                            <a href="{% url 'manageCart' item.id %}?action=dcr"><i class="bi bi-dash-circle-fill"></i></a>
                        </td>
                        <td><strong>&#8358; {{item.subtotal | intcomma}}</strong></td>
                      </tr>                   
                    {% endfor %}
                    <tr>
                        <th colspan="6">
                            <h2>Total : &#8358; {{cart.total | intcomma}}</h2>
                        </th>
                    </tr>
                {% else %}
                    <tr>
                        <p class="lead bg-danger text-white p-3"> No item in cart</p>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                        <div class="d-grid">
                            <a href="{% url 'index' %}" class="btn btn-outline-danger">Continue to Shopping</a>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="d-grid">
                            {% if cart.cartproduct_set.all %}
                                <a href="{% url 'emptyCart' %}" class="btn btn-outline-danger">Clear Shopping Cart</a>
                            {% else %}
                                <button type="button" disabled class="btn btn-outline-danger">
                                    Clear Shopping Cart
                                </button>
                            {% endif %}
                        </div>
                    </td>
                    <td colspan="3">
                        <div class="d-grid">
                            {% if cart.cartproduct_set.all %}
                                <a href="{% url 'checkout' %}" class="btn btn-outline-danger">Proceed to Checkout</a>
                            {% else %}
                                <button type="button" disabled class="btn btn-outline-danger">
                                    Proceed to Checkout
                                </button>
                            {% endif %}                            
                        </div>
                    </td>
                </tr>                    
            </tbody>
        </table>
    </div>
</section>

{% endblock content %}