{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- Intro -->
<!-- featured -->
<section id="featured" class="py-4 my-3" >
    <div class="container">
         <div class="row">
            <div class="col-md-5 mx-auto">
                <h3 class="text-center">Make Payment for: &#8358; {{order.total}}</h3>
                <hr>
                <script scr="https://js.paystack.co/v1/inline.js"></script>
                <div class="d-grid">
                    <button type="submit" onclick="payWithPayStack()" class="btn btn-primary" id="paystackbtn">Make Payment</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function payWithPayStack(){
        let currency = 'NGN';
        let plan = '';
        let ref = '{{order.ref}}'
        let obj = {
            key:"{{paystack_public_key}}",
            email:'{{order.email}}',
            amount:'{{order.amount_value}}',
            ref:ref,
            callback: function(response){
                window.location.href="{% url 'verify-payment' order.ref %}";
            }
        }

        if(Boolean(plan)){
            obj.plan = plan;
        }
        let handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
</script>


{% endblock content %}