{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<style>
    input{
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem +2px);
        padding: .37rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

</style>

<!-- password -->
<section id="featured" class="py-4 my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <h3>Password Reset Complete</h3>
                <p class="lead">
                    Your password has been reset. You may go ahead and login now.
                </p>
                <p class ="lead">
                    <a href="{% url 'loginuser' %}"> Login </a>
                </p>
            </div>
        </div>
    </div>
</section>


{% endblock content %}